<article class="container">
  <h3>Custom Selects</h3>
  <div class="custom-select display-size">
    <div class="arrow-box">
      <ul>
        <li>Word</li>
        <li>Word</li>
        <li>Word</li>
        <li>Word</li>
      </ul>
    </div>
  </div>
  <div class="custom-select display-size">
    <div class="select-options">
      <ul>
        <li>Word</li>
        <li>Word</li>
        <li>Word</li>
        <li>Word</li>
      </ul>
    </div>
  </div>
  <div class="custom-select -multi display-size">
    <div class="arrow-box">
      <ul>
        <li><span class="ion-ios-circle-outline"></span>Select all</li>
        <li><span class="ion-ios-circle-outline"></span>Word</li>
        <li><span class="ion-ios-circle-outline"></span>Word</li>
        <li><span class="ion-ios-circle-outline"></span>Word</li>
      </ul>
    </div>
  </div>
</article>
