<article class="container">
  <h3>INPUT STATES</h3>
  <div class="row">
    <label class="stack col-sm-3">Active Input
      <input class="-active" type="text" name="text" placeholder="Active">
    </label>
    <label class="stack col-sm-3">Valid Input
      <input class="-valid" type="text" name="text" placeholder="Valid">
    </label>
    <label class="stack col-sm-3">Success Input
      <input class="-success" type="text" name="text" placeholder="Success">
    </label>
    <label class="stack col-sm-3">Error Input
      <input class="-error" type="text" name="text" placeholder="Error">
    </label>
    <label class="stack col-sm-3">Disabled Input
      <input class="-disabled" type="text" name="text" placeholder="Disabled">
    </label>
  </div>
</article>
