<article class="container">
  <h3>Username Input</h3>
  <div class="username-input">
    <label class="stack">Username
      <span class="flow">
        <span class="service">www.website.com/</span>
        <input type="text" name="text">
      </span>
    </label>
  </div>
</article>
