<div class="supplemental-nav">
  <ul>
    <a href="#navigation"><li>Navigation</li></a>
    <a href="#info-components">Info-Components<li></li></a>
    <a href="#images-icons"><li>Images &amp; Icons</li></a>
  </ul>
</div>
