<div class="supplemental-nav">
  <ul>
    <a href="#colors"><li>Colors</li></a>
    <a href="#spacing"><li>Spacing</li></a>
    <a href="#typography"><li>Typography</li></a>
    <a href="#buttons"><li>Buttons</li></a>
    <a href="#inputs"><li>Inputs</li></a>
    <a href="#icons"><li>Icons</li></a>
  </ul>
</div>
