<h3>Button States</h3>
<article>
  <div>
    <button class="primary-button -active">Active Button</button>
    <button class="primary-button -action">Action Button</button>
    <button class="primary-button -valid">Valid Button</button>
    <button class="primary-button -success">Success Button</button>
    <button class="primary-button -error">Error Button</button>
    <button class="primary-button -warning">Warning Button</button>
    <button class="primary-button -disabled">Disabled Button</button>
  </div>
  <div>
    <button class="small-button -active">Active Button</button>
    <button class="small-button -action">Action Button</button>
    <button class="small-button -valid">Valid Button</button>
    <button class="small-button -success">Success Button</button>
    <button class="small-button -error">Error Button</button>
    <button class="small-button -warning">Warning Button</button>
    <button class="small-button -disabled">Disabled Button</button>
  </div>
</article>
