<section id="buttons" class="layout-document">
  <h2>Buttons</h2>
  <hr>
  <% include buttons/primary-button %>
  <hr>
  <% include buttons/small-button %>
  <hr>
  <% include buttons/split-button %>
  <hr>
  <% include buttons/button-states %>
  <hr>
</section>
