<section id="colors" class="layout-document">
  <h2>Color Palettes</h2>
  <hr>
  <h3>Main</h3>
  <article class="layout-row-parent">
    <div class="color-block layout-child-3col">
      <div class="info">
        <h4>True Navy</h4>
        <p>$true-navy: rgba(1,30,51,1);</p>
        <p>$true-navy-hex: #011E33;</p>
      </div>
      <div class="swatch true-navy"></div>
      <div class="swatch gray-navy"></div>
      <div class="info">
        <h4>Gray Navy</h4>
        <p>$gray-navy: rgba(40,65,84,1);</p>
        <p>$gray-navy-hex: #284154;</p>
      </div>
    </div>
    <div class="color-block layout-child-3col">
      <div class="info">
        <h4>True White</h4>
        <p>$true-white: rgba(255,255,255,1);</p>
        <p>$true-white-hex: #FFFFFF;</p>
      </div>
      <div class="swatch true-white"></div>
      <div class="swatch pale-sage"></div>
      <div class="info">
        <h4>Pale Sage</h4>
        <p>$pale-sage: rgba(134,204,193,1);</p>
        <p>$pale-sage-hex: #86CCC1;</p>
      </div>
    </div>
    <div class="color-block layout-child-3col">
      <div class="info">
        <h4>True Raspberry</h4>
        <p>$true-raspberry: rgba(171,34,80,1);</p>
        <p>$true-raspberry-hex: #AB2250;</p>
      </div>
      <div class="swatch true-raspberry"></div>
      <div class="swatch pale-pink"></div>
      <div class="info">
        <h4>Pale Pink</h4>
        <p>$pale-pink: rgba(255,247,239,1);</p>
        <p>$pale-pink-hex: #FFF7EF;</p>
      </div>
    </div>
    <div class="color-block layout-child-3col">
      <div class="info">
        <h4>True Sienna</h4>
        <p>$true-sienna: rgba(196,65,51,1);</p>
        <p>$true-sienna-hex: #C44133;</p>
      </div>
      <div class="swatch true-sienna"></div>
      <div class="swatch sienna-char"></div>
      <div class="info">
        <h4>Sienna Char</h4>
        <p>$sienna-char: rgba(191,119,107,1);</p>
        <p>$sienna-char-hex: #BF776B;</p>
      </div>
    </div>
  </article>
</section>
