<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/nav %>
    <hr>
    <% include partials/component-nav %>
    <main>
      <hr>
      <h1>Components</h1>
      <hr>
      <% include partials/components/colors %>
      <hr>
      <% include partials/components/spacing %>
      <hr>
      <% include partials/components/typography %>
      <hr>
      <% include partials/components/buttons %>
      <hr>
      <% include partials/components/inputs %>
      <hr>
      <% include partials/components/images-icons %>
      <hr>
      <% include partials/components/navigation %>
      <hr>
      <% include partials/components/info-components %>
      <hr>
      <% include partials/components/user-components %>
      <hr>
    </main>
    <% include partials/footer %>
  </body>
</html>
