<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/nav %>
    <main>
      <hr>
      <h1>Components</h1>
      <hr>
      <% include partials/component-nav %>
      <hr>
      <% include partials/components/navigation %>
      <% include partials/components/info-components %>
    </main>
    <% include partials/footer %>
  </body>
</html>
