<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/nav %>
    <main>
      <hr>
      <h1>Elements</h1>
      <hr>
      <% include partials/element-nav %>
      <hr>
      <% include partials/elements/colors %>
      <% include partials/elements/spacing %>
      <% include partials/elements/typography %>
      <% include partials/elements/buttons %>
      <% include partials/elements/inputs %>
      <% include partials/elements/icons %>
    </main>
    <% include partials/footer %>
  </body>
</html>
