<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/nav %>
    <main>
      <hr>
      <h1>Base Style Guide</h1>
      <hr>
      <% include partials/project-notes %>
    </main>
    <% include partials/footer %>
  </body>
</html>
