<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/nav %>
    <main>
      <hr>
      <h1>Layouts</h1>
      <hr>
      <% include partials/layout-nav %>
      <hr>
    </main>
    <% include partials/footer %>
  </body>
</html>
