<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <% include partials/nav %>
    <% include partials/layout-nav %>
    <main>
      <hr>
      <h1>Layouts</h1>
      <hr>
      <% include partials/layouts/user-profile-about %>
      <hr>
      <% include partials/layouts/user-profile-portfolio %>
      <hr>
      <% include partials/layouts/connect-platforms %>
      <hr>
      <% include partials/layouts/account-settings %>
      <hr>
    </main>
    <% include partials/footer %>
  </body>
</html>
