.info-progress-bar {
  height: $small;
  position: relative;
  background: $info-color;
  border-radius: $tiny;

  >.fill {
    @include element-shadow($success-color, $success-color);
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: $tiny;
    background-color: $success-color;
  }
}
