.info-table {
  border: 1px solid $info-color;
  th, td {
    padding: $base;
    color: $primary-color;
    @include lato-font;
  }
  td + td, th + th { border-left: 1px solid $info-color; }
  tr + tr { border-top: 1px solid $info-color; }
  th, tfoot>tr { background-color: $info-color; }
  tr:nth-child(even) {
    background-color: $info-color;
  }
}
