<article>
  <h3>Avatar</h3>
  <h4>Small Avatar</h4>
  <figure><img class="avatar -small" src="/static/assets/avatar-placeholder.jpg"></figure>
  <h4>Regular Avatar</h4>
  <figure><img class="avatar -regular" src="/static/assets/avatar-placeholder.jpg"></figure>
  <h4>Large Avatar</h4>
  <figure><img class="avatar -large" src="/static/assets/avatar-placeholder.jpg"></figure>
</article>
