// === COLOR DEFINITIONS ===
// === === === === === === === === === ===
// Not for use in scss

// MAIN
$true-navy: rgba(1,30,51,1);
$true-navy-hex: #011E33;

$gray-navy: rgba(40,65,84,1);
$gray-navy-hex: #284154;

$true-sienna: rgba(196,46,51,1);
$true-sienna-hex: #C42E33;

$sienna-char: rgba(217,122,125,1);
$sienna-char-hex: #D97A7D;

$pale-pink: rgba(255,247,239,1);
$pale-pink-hex: #FFF7EF;

$pale-sage: rgba(134,204,193,1);
$pale-sage-hex: #86CCC1;

$true-raspberry: rgba(171,34,80,1);
$true-raspberry-hex: #AB2250;

$true-white: rgba(255,255,255,1);
$true-white-hex: #FFFFFF;


// === DESCRIPTIVE VARIABLES ===
// === === === === === === === === === ===
// For use in scss

$title-text: $gray-navy;
$content-text: $true-navy;
$inverse-text: $true-white;

$link-hover: $true-raspberry;
$primary-background: $true-white;
$secondary-background: $pale-pink;
$element-box-shadow: $pale-pink;

$primary-color: $gray-navy;
$info-color: $true-navy;
$success-color: $pale-sage;
$alert-color: $true-sienna;
$warning-color: $true-sienna;
$disabled-color: $sienna-char;




