<article>
  <h3>User Feed Preview</h3>
  <div class="user-feed-preview row">
    <div class="col-sm-3 img-block"></div>
    <div class="col-sm-3 img-block"></div>
    <div class="col-sm-3 img-block"></div>
    <div class="col-sm-3 img-block"></div>
    <div class="col-sm-3 img-block"></div>
  </div>
</article>
