<article class="container">
  <h3>User Platform Stack Graph</h3>
  <div class="user-platform-stack-graph">
    <div class="instagram">
      <span>5.3K</span><br>
      <span>Instagram</span>
    </div>
    <div class="facebook">
      <span>4.5K</span><br>
      <span>Facebook</span>
    </div>
    <div class="rss">
      <span>3K</span><br>
      <span>Rss</span>
    </div>
    <div class="pinterest">
      <span>0.5K</span><br>
      <span>Pinterest</span>
    </div>
    <div class="twitter">
      <span>0</span><br>
      <span>Twitter</span>
    </div>
    <div class="snap">
      <span>3.2K</span><br>
      <span>Snap</span>
    </div>
    <div class="youtube">
      <span>2K</span><br>
      <span>Youtube</span>
    </div>
    <div class="linkedin">
      <span>2.9K</span><br>
      <span>Linkedin</span>
    </div>
  </div>
</article>
