<article>
  <h3>User Platforms</h3>
  <div class="user-platforms">
    <h3>MY PLATFORMS</h3>
    <div class="platform-icons">
      <div class="color_sm_instagram"></div>
      <div class="color_sm_twitter"></div>
      <div class="color_sm_pinterest"></div>
      <div class="color_sm_rss"></div>
    </div>
  </div>
</article>
