<article class="container">
  <h3>User Interests</h3>
  <div class="user-interests">
    <div class="interest-image"></div>
    <h4>ABOUT ME</h4>
    <div class="selected-tag-group">
      <span class="info-tag">fashion</span>
      <span class="info-tag">blogging</span>
      <span class="info-tag">styling</span>
      <span class="info-tag">austin</span>
      <span class="info-tag">travel</span>
      <span class="info-tag">adventures</span>
      <span class="info-tag">wellness</span>
    </div>
    <h4>BRANDS I AM LOVING</h4>
    <div class="selected-tag-group">
      <span class="info-tag">casadei</span>
      <span class="info-tag">marc by marc jacobs</span>
      <span class="info-tag">saint laurent</span>
      <span class="info-tag">valentino</span>
    </div>
  </div>
</article>
