<article>
  <h3>USER PLATFORM TOTALS</h3>
  <div class="user-platform-totals">
    <div class="col-sm-3 platform">
      <div class="color_md_instagram"></div>
      <h4>lifeofpi</h4>
    </div>
    <div class="col-sm-2 total">
      <span class="count">905</span>
      <span class="description">Posts</span>
    </div>
    <div class="col-sm-2 total">
      <span class="count">93.3K</span>
      <span class="description">Followers</span>
    </div>
    <div class="col-sm-2 total">
      <span class="count">711</span>
      <span class="description">Following</span>
    </div>
    <div class="col-sm-2 total">
      <span class="count">4X</span>
      <span class="description">Engagement</span>
    </div>
  </div>
</article>
