<article class="container">
  <h3>User Connect Platform</h3>
  <div class="user-connect-platform  -incomplete row">
    <div class="color_lg_instagram col-sm-2">
      <div class="checkmark"></div>
    </div>
    <div class="col-sm-10 profile-connection">
      <div class="info">
        <h3>Instagram</h3>
        <p class="body-text">Connect your Instagram account. We will use this information to help craft your profile.</p>
      </div>
      <div class="actions">
        <button class="primary-button -active">Connect</button>
      </div>
    </div>
  </div>
  <div class="user-connect-platform -in-progress row">
    <div class="color_lg_facebook col-sm-2">
      <div class="checkmark"></div>
    </div>
    <div class="col-sm-10 profile-connection">
      <div class="info">
        <h3>Facebook</h3>
        <figure><img src="/static/assets/avatar-placeholder.jpg" class="avatar -large"></figure>
        <p class="body-text">
          <span>@ashley</span><br>
          <span>761K Followers</span>
        </p>
      </div>
      <div class="actions">
        <button class="primary-button -success">In Progress</button>
      </div>
    </div>
  </div>
  <div class="user-connect-platform -complete row">
    <div class="color_lg_pinterest col-sm-2">
      <div class="checkmark"></div>
    </div>
    <div class="col-sm-10 profile-connection">
      <div class="info">
        <h3>Pinterest</h3>
        <figure><img src="/static/assets/avatar-placeholder.jpg" class="avatar -large"></figure>
        <p class="body-text">
          <span>@ashley</span><br>
          <span>80K Followers</span>
        </p>
      </div>
      <div class="actions">
        <button class="primary-button -success">Connected</button>
        <a href="#">Make Primary Platform</a>
        <a href="#">Remove Pinterest Connection</a>
      </div>
    </div>
  </div>
</article>
