<article>
  <h3>User Info Main</h3>
  <div class="user-info-main">
    <figure><img class="avatar -profile" src="/static/assets/avatar-placeholder.jpg"></figure>
    <div class="info">
      <h1>Ashley Hargrove</h1>
      <h3>Austin TX, USA</h3>
      <p class="small-text">I’m Californian by blood, but Texan {Austin} by heart. I went to school for fashion and have worked in the industry for 12+ years. I recently started the blog as my creative outlet to share with you all. I’m obsessed with my pup Scout, champagne + avocados {not together, duh}, brunch with friends, the beach, and styling</p>
    </div>
    <button class="primary-button -action">Contact</button>
  </div>
</article>
