<article class="container">
  <h3>User Account Connect Progress</h3>
  <div class="user-connect-progress">
    <h3>1. Connect Your Social Accounts</h3>
    <div class="info-progress-numerical">
      <span class="completed">
        <span class="ion-checkmark-round"></span>
        <span class="progress">1</span>
      </span>
      <span class="active">
        <span class="ion-checkmark-round"></span>
        <span class="progress">2</span>
      </span>
      <span>
        <span class="ion-checkmark-round"></span>
        <span class="progress">3</span>
      </span>
    </div>
    <div class="info-progress-bar">
      <span class="fill" style="width:25%"></span>
    </div>
  </div>
</article>
