<article class="container">
  <h3>User Platform Totals (all)</h3>
  <div class="user-platform-totals">
    <div class="col-sm-2 total">
      <span class="count">107,867</span>
      <span class="description">Total Audience</span>
    </div>
    <div class="col-sm-2 total">
      <span class="count">4.3X</span>
      <span class="description">Total Engagement</span>
    </div>
  </div>
</article>
