<article>
  <h3>User Portfolio Grid</h3>
  <div class="user-portfolio-grid row">
    <div class="col-sm-4 portfolio-item"></div>
    <div class="col-sm-4 portfolio-item"></div>
    <div class="col-sm-4 portfolio-item"></div>
  </div>
</article>
