<article>
  <h3>User Platform Detail</h3>
  <div class="user-platform-detail -instagram"></div>
  <div class="user-platform-detail -facebook"></div>
  <div class="user-platform-detail -rss"></div>
  <div class="user-platform-detail -pinterest"></div>
  <div class="user-platform-detail -twitter"></div>
  <div class="user-platform-detail -snap"></div>
  <div class="user-platform-detail -youtube"></div>
  <div class="user-platform-detail -linkedin"></div>
</article>
