<article>
  <h3>Custom Checkbox</h3>
  <input type="checkbox" id="custom1" class="custom-checkbox">
  <label for="custom1">
    <span>
      <span class="ion-checkmark-round"></span>
    </span>&nbsp;Custom Checkbox
  </label>
</article>
