<article>
  <h3>Custom Switches</h3>
  <h4>Square</h4>
  <label class="custom-switch">
    <input type="checkbox">
    <div class="slider">
      <span class="off">Off</span>
      <span class="on ion-checkmark-round"</span>
    </div>
  </label>
  <h4>Rounded</h4>
  <label class="custom-switch">
    <input type="checkbox">
    <div class="slider -round">
      <span class="off">Off</span>
      <span class="on">On</span>
    </div>
  </label>
</article>
