<article>
  <h3>Custom Radio Button</h3>
  <input type="radio" id="custom-radio" class="custom-radio"/>
  <label for="custom-radio">
    <span>
        <span class="ion-record"></span>
    </span>&nbsp;Custom Radio Button
  </label>
</article>
