<article>
  <h3>Base Input Fields</h3>
  <h4>Base elements: no classes, ids or states applied</h4>
  <p>Inputs are wrapped in labels with the class 'stack' applied.</p>
  <div class="row">
    <label class="stack col-sm-3">Email Input
      <input type="email" name="email" placeholder="email">
    </label>
    <label class="stack col-sm-3">Date Input
      <input type="date" name="date">
    </label>
    <label class="stack col-sm-3">Number Input
      <input type="number" name="number" placeholder="number">
    </label>
    <label class="stack col-sm-3">Search Input
      <input type="search" name="search" placeholder="search">
    </label>
    <label class="stack col-sm-3">Text Input
      <input type="text" name="text" placeholder="text">
    </label>
    <label class="stack col-sm-3">Datetime Input
      <input type="datetime" name="datetime">
    </label>
    <label class="stack col-sm-3">Datetime-Local Input
      <input type="datetime-local" name="datetime-local">
    </label>
    <label class="stack col-sm-3">Text Area
      <textarea placeholder="This is where someone would write longform blocks..."></textarea>
    </label>
  </div>
  <input type="submit" class="button" name="submit">
</article>


