<article>
  <h3>Search Bar</h3>
  <div class="search-bar">
    <span class="flow">
      <span class="ion-search"></span>
      <span class="ion-close-round"></span>
      <input type="search" name="search">
      <input class="primary-button -action" type="submit" name="submit-search" value="Search">
    </span>
  </div>
  <div class="search-bar -clear">
    <span class="flow">
      <span class="ion-search"></span>
      <span class="ion-close-round"></span>
      <input type="search" name="search">
      <input class="primary-button -action" type="submit" name="submit-search" value="Search">
    </span>
  </div>
</article>
