<article>
  <h3>Info Table</h3>
  <table class="info-table">
    <thead>
      <th>Table Header 1</th>
      <th>Table Header 2</th>
      <th>Table Header 3</th>
    </thead>
    <tbody>
      <tr>
        <td>Table Data 1</td>
        <td>Table Data 1</td>
        <td>Table Data 1</td>
      </tr>
      <tr>
        <td>Table Data 2</td>
        <td>Table Data 2</td>
        <td>Table Data 2</td>
      </tr>
      <tr>
        <td>Table Data 3</td>
        <td>Table Data 3</td>
        <td>Table Data 3</td>
      </tr>
      <tr>
        <td>Table Data 4</td>
        <td>Table Data 4</td>
        <td>Table Data 4</td>
      </tr>
      <tr>
        <td>Table Data 5</td>
        <td>Table Data 5</td>
        <td>Table Data 5</td>
      </tr>
      <tr>
        <td>Table Data 6</td>
        <td>Table Data 6</td>
        <td>Table Data 6</td>
      </tr>
    </tbody>
    <tfoot>
      <td>Table Footer 1</td>
      <td>Table Footer 2</td>
      <td>Table Footer 3</td>
    </tfoot>
  </table>
</article>
