<article class="container">
  <h3>Info Tag</h3>
  <span class="info-tag">Tag</span>
  <span class="info-tag">Longer Tag Name</span>
  <div class="info-tag">Hash Tag</div>
  <span class="info-tag -edit">Longer Tag Name <span class="ion-close-round"></span></span>
  <div class="info-tag -edit">Hash Tag <span class="ion-close-round"></span></div>
</article>
