<article>
  <div class="container">
    <h3>Info Nav Message</h3>
  </div>
  <div class="info-nav-message">
    <h1>WELCOME</h1>
    <p>We are excited to have you on board. Let's get started.</p>
  </div>
</article>
