<article>
  <h3>Info Tooltip</h3>
  <p>
    Here's a tooltip within a paragraph, when you hover over <span class="info-tooltip">this<span class="text">Tooltip text</span></span> it should be centered.
  </p>
  <p>
    Here's a tooltip within a paragraph, <span class="info-tooltip">when you hover over this <span class="text">Tooltip text</span></span> it should be centered.
  </p>
</article>
