<article class="container">
  <h3>Info Progress Numerical</h3>
  <div class="info-progress-numerical">
    <span class="completed">
      <span class="ion-checkmark-round"></span>
      <span class="progress">1</span>
    </span>
    <span class="active">
      <span class="ion-checkmark-round"></span>
      <span class="progress">2</span>
    </span>
    <span>
      <span class="ion-checkmark-round"></span>
      <span class="progress">3</span>
    </span>
  </div>
</article>
