<article>
  <h3>Info Form Section</h3>
  <div class="info-form-section">
    <div class="form-section">
      <h6>Email <span class="ion-chevron-down"></span></h6>
      <p class="small-text">Your email address is your identity and is used to log in.</p>
    </div>
    <div class="form-section">
      <label>Email and name</label>
      <div class="input-container">
        <span class="ion-email"></span>
        <input type="email" name="">
      </div>
      <div class="username-input">
        <label class="stack">Username
          <span class="flow">
            <span class="service">www.website.com/</span>
            <input type="text" name="text">
          </span>
        </label>
      </div>
    </div>
  </div>
</article>
