.layout-document {
    @include min-width($mobile-min);
    @include max-width($desktop-max);
    margin-left: auto;
    margin-right: auto;
    padding: $base;
}

.layout-column-parent {
  @include flexbox-column-parent;
  align-items: center;
}

.layout-row-parent {
  @include flexbox-row-parent;
  flex-wrap: wrap;
}

.layout-child-1col {
  width: 100%;
  padding: 5% auto;
}

.layout-child-2col {
  width: 100%;
  padding: 10px 2%;
  @media screen and (min-width: $tablet-max) {
    width: 45%;
  }
}

.layout-child-3col {
  width: 100%;
  padding: 10px 1%;
  @media screen and (min-width: $mobile-max) {
    width: 40%;
  }
  @media screen and (min-width: $tablet-max) {
    width: 30%;
  }
}

.layout-child-4col {
  width: 100%;
  padding: 10px 1%;
  @media screen and (min-width: $tablet-min) {
    width: 30%;
  }
  @media screen and (min-width: $tablet-max) {
    width: 20%;
  }
}

