.user-platform-detail {
  @include flexbox-row-parent;
  /*&.-instagram { border-left: 2px solid $instagram; }
  &.-facebook { border-left: 2px solid $facebook; }
  &.-rss { border-left: 2px solid $rss; }
  &.-pinterest { border-left: 2px solid $pinterest; }
  &.-twitter { border-left: 2px solid $twitter; }
  &.-snap { border-left: 2px solid $snap; }
  &.-youtube { border-left: 2px solid $youtube; }
  &.-linkedin { border-left: 2px solid $linkedin; }*/
}
