<article>
  <h3>Account Dropdown</h3>
  <div class="account-dropdown">
    <div class="arrow-box">
      <ul>
        <li><a class="account" href="#">ACCOUNT SETTINGS</a></li>
        <li><a href="#">PROFILE</a></li>
        <li><a href="#">EDIT PROFILE</a></li>
        <li><a class="logout" href="#">SIGN OUT</a></li>
      </ul>
    </div>
  </div>
</article>
