<article class="container">
  <h3>Next - Last</h3>
  <span class="next-last">
    <span class="ion-arrow-left-b primary-button -action"></span>
    <span class="primary-button -action">all text</span>
    <span class="ion-arrow-right-b primary-button -action"></span>
  </span>
</article>
