<article class="container">
  <h3>Pagination</h3>
  <span class="pagination">
    <span class="ion-chevron-left primary-button -info"></span>
    <span class="primary-button">1</span>
    <span class="primary-button">2</span>
    <span class="primary-button">3</span>
    <span class="primary-button">4</span>
    <span class="ion-chevron-right primary-button -info"></span>
  </span>
</article>
