<article>
  <div>
    <h3>Secondary Profile Header</h3>
  </div>
  <div class="secondary-profile-header">
    <div class="blue_sm_favicon"></div>
    <div class="page-options">
      <a href="#" class="tab">ABOUT</a>
      <a href="#" class="tab selected">PORTFOLIO</a>
      <a href="#" class="tab user-name">ASHLEY</a>
    </div>
    <button class="primary-button -action">Contact</button>
  </div>
</article>
