<section id="images-icons">
  <h2>Images &amp; Icons</h2>
  <hr>
  <% include images-icons/avatar %>
  <hr>
  <% include images-icons/icon-social %>
  <hr>
  <% include images-icons/cover-photo %>
  <hr>
</section>
