<section id="info-components" class="layout-document">
  <h2>Info Components</h2>
  <hr>
  <% include info-components/info-progress-bar %>
  <hr>
  <% include info-components/info-progress-numerical %>
  <hr>
  <% include info-components/info-table %>
  <hr>
  <% include info-components/info-tile %>
  <hr>
  <% include info-components/info-modal %>
  <hr>
  <% include info-components/info-tag %>
  <hr>
  <% include info-components/info-tooltip %>
  <hr>
  <% include info-components/info-form-section %>
  <hr>
  <% include info-components/info-more-feed %>
  <hr>
</section>
