<section id="inputs">
  <h2>Input Fields</h2>
  <hr>
  <% include inputs/input-base %>
  <hr>
  <% include inputs/input-states %>
  <hr>
  <% include inputs/username-input %>
  <hr>
  <% include inputs/search-bar %>
  <hr>
  <% include inputs/longform-textarea %>
  <hr>
  <% include inputs/custom-select %>
  <hr>
  <% include inputs/custom-checkbox %>
  <hr>
  <% include inputs/custom-radio-button %>
  <hr>
  <% include inputs/custom-switch %>
  <hr>
  <% include inputs/custom-range %>
  <hr>
</section>
