<section id="navigation" class="layout-document">
  <h2>Navigation</h2>
  <hr>
  <% include navigation/tabbed-subnavigation %>
  <hr>
  <% include navigation/breadcrumbs %>
  <hr>
  <% include navigation/next-last %>
  <hr>
  <% include navigation/pagination %>
  <hr>
  <% include navigation/main-footer %>
  <hr>
</section>
