<section id="typography">
  <h2>Typography</h2>
  <hr>
  <% include typography/typography-base %>
  <hr>
  <% include typography/body-text %>
  <hr>
  <% include typography/intro-text %>
  <hr>
  <% include typography/pull-quote %>
  <hr>
  <% include typography/small-text %>
  <hr>
</section>

