<section id="user-components">
  <h2>User Components</h2>
  <hr>
  <% include user-components/user-connect-platform %>
  <hr>
  <% include user-components/user-connect-progress %>
  <hr>
  <% include user-components/user-info-main %>
  <hr>
  <% include user-components/user-platforms %>
  <hr>
  <% include user-components/user-feed-preview %>
  <hr>
  <% include user-components/user-platform-detail %>
  <hr>
  <% include user-components/user-platform-stack-graph %>
  <hr>
  <% include user-components/user-platform-totals-all %>
  <hr>
  <% include user-components/user-platform-totals %>
  <hr>
  <% include user-components/user-portfolio-grid %>
  <hr>
  <% include user-components/user-interests %>
  <hr>
</section>


